extends layout

block content
    #editor
    #autocomplete
        ul
            li(data-value='fonction1()') fonction1(int i, int j)
            li(data-value='fonction2()') fonction2(int i)
    script(src='/node_modules/ace-builds/src/ace.js')
    script(src='/javascripts/lib/ot-text.js')
    script(src='/javascripts/lib/sharedb-client.js')
    script(src='/javascripts/collaborative-editor.js')
    script(src='/javascripts/code-recommandation.js')
    script(src='/javascripts/main.js')