extends layout

block content
    #editor
    script(src='/node_modules/ace-builds/src/ace.js')
    script(src='/javascripts/lib/ot-text.js')
    script(src='/javascripts/lib/sharedb-client.js')
    script(src='/javascripts/JavaAutocompleteHandler.js')
    script(src='/javascripts/AutocompleteHandlerFactory.js')
    script(src='/javascripts/CollaborativeEditor.js')
    script(src='/javascripts/main.js')