extends layout

block content
    #editor
    script(src='/node_modules/ace-builds/src/ace.js')
    script(src='/javascripts/lib/ot-text.js')
    script(src='/javascripts/lib/sharedb-client.js')
    script(src='/javascripts/collaborative-editor.js')
    script(src='/javascripts/main.js')